@import 'normalize';

body {
	font-family: 'Roboto slab';
	font-size: 20px;
}

.page__header {
	background: #fff;
	width: 100%;
}

.page__header--sticky {
	margin-bottom: 32px;

	.nav__main {
		background: #fff;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}
}

.logo--main {
	display: block;
	font-size: 2em;
	padding: 0.2em;
	position: relative;
	text-align: center;
	

	> span {
		background: url('/img/pasfoto.jpg') no-repeat center center;
		background-size: cover;
		border: 2px #424242 solid;
		border-radius: 100%;
		display: block;
		height: 25vw;
		margin: 0 auto;
		max-height: 120px;
		max-width: 120px;
		padding: .2em;
		text-indent: -5000em;
		width: 25vw;
	}

}

.logo__tagline {
	bottom: 0.4em;
	color: #424242;
	display: block;
	font-size: 0.6em;
	font-weight: 700;
	position: absolute;
	text-align: center;
	text-shadow: 2px 2px rgba(255, 255, 255, .5);
	transform: rotate(-10deg);
	width: 100%;
}

.nav__main {
	align-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	
	> * + * {
		border-left: 1px solid;
	}
}

@media only screen and (min-device-width : 768px) {
	body {
		font-size: 18px;
	}
}

.nav__item {
	border-bottom: 1px solid;
	border-top: 1px solid;
	flex: 1;
	text-align: center;
}

.nav_item--home {
	flex: 0;
}

main {
	padding: 5vh 0;
}
