<footer class="footer--main">
	<div class="social">
		{{ if .Site.Social.twitter }}<a href="{{ .Site.Social.twitter }}" title="Volg me op twitter"><span class="fa fa-twitter"></span></a>{{ end }}
		{{ if .Site.Social.linkedin }}<a href="{{ .Site.Social.linkedin }}" title="Verbind met LinkedIn"><span class="fa fa-linkedin"></span></a>{{ end }}
		{{ if .Site.Social.github }}<a href="{{ .Site.Social.github }}"  title="Codereview op Github"><span class="fa fa-github"></span></a>{{ end }}
		{{ if .Site.Social.fivehundredpx }}<a href="{{ .Site.Social.fivehundredpx }}" title="Vergaap op 500px"><span class="fa fa-500px"></span></a>{{ end }}
	
	</div>
</footer>

<script src="/assets/js/vendor/jquery.min.js"></script>
<script src="/assets/js/vendor/what-input.min.js"></script>
<script src="/assets/js/foundation.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>