<!doctype html> 
<html lang="{{ .Site.LanguageCode }}"> 
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Icons -->
  <link rel="icon" href="/favicon.png" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />
  
  <!-- Style & Font -->
  <link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
